html,
body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

canvas {
  align-items: center;
}
